@import url('https://fonts.googleapis.com/css?family=Notable&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rajdhani|Vibes&display=swap');

html, body {
    height: 100%;
    /* background-image: linear-gradient(#0b8793,#360033 ); */
    background-image: linear-gradient(#43C6AC, #191654);
    background-size: cover;
    background-repeat: no-repeat;
}

.letters {
    font-family: 'Notable', sans-serif;
}

.ml11 {
    font-weight: 700;
    font-size: 3em;
  }
  
  .ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }
  
  .ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #fff;
    transform-origin: 0 50%;
  }
  
  .ml11 .line1 { 
    top: 0; 
    left: 0;
  }
  
  .ml11 .letter {
    display: inline-block;
    line-height: 1em;
  }

  .card {
    background-image: linear-gradient(#000000, #434343);
  }

   .toptier, .letters, .fas {
    color: #ff0084;
  }

  .btn:hover {
    background-image: radial-gradient(#FF0099, #493240);
    border: solid black 1px;
    color: #fff;
  }
  
  th {
    color: #43C6AC;
    font-size: 1.2rem;
  }

  .card-header {
    color: #8f8f8f;
    font-size: 1.7rem;
  }

  .row {
    font-family: 'Rajdhani', sans-serif;
  }

  .swal-overlay {
    background-color: rgb(255, 0, 153, .5);
  }

  .swal-modal {
    background-color: rgba(105, 105, 105, 0.88);
    color: #fff;
    
  }

  .swal-text, .swal-title {
    color: #fff;
    font-family: 'Rajdhani', sans-serif;
  }
